@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #19172e;
}

section{
    position: relative;
} 

.clock-container{
    width: 120px; 
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    gap: 2px;
    background: rgba(255, 255, 255, 0.083);
}

section::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, rgba(97,154,243,1) 33%, rgba(87,144,234,1) 42%, rgba(0,53,149,1) 83%);
    bottom: -10px;
    left: -12px; 
    animation: animation 1.5s linear infinite alternate;
}

section::after{
    width: 30px;
    height: 30px;
    content: "";
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(180deg, rgba(97,154,243,1) 33%, rgba(87,144,234,1) 42%, rgba(0,53,149,1) 83%);
    bottom: -20px;
    background: linear-gradient(180deg, rgba(245,236,3,1) 0%, rgba(247,84,3,1) 77%);
    top: -10px;
    right: -12px;
    position: absolute;
    animation: animate 1.5s linear infinite alternate;
}

span{
    color: white;
}

h2{
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.083);
    backdrop-filter: blur(10px);
    padding: 0.1rem 0.2rem 0rem;
    border-radius: 0.1rem;
    color: rgb(222, 222, 222);
}

.time{
    font-size: 0.1rem;
    transform: translateY(-50%);
}



@keyframes animation {
    from{
        transform: translateY(-20%);
    }
    to{
        transform: translateY(20%);
    }
}

@keyframes animate {
    from{
        transform: translateY(20%);
    }

    to{
        transform: translateY(-20%);
    }
}


@media screen and (max-width:792px) and (min-width:300px){
    h2{
        font-size: 0.1rem;
    }

    .clock-container{
        width: 100px;
        height: 20px;
    }

    h2.time{
        transform: translateY(0);
    }

    section::before,
    section::after{
        width: 20px;
        height: 20px;
    }

}
